---
- name: "APT: Install dependencies"
  ansible.builtin.apt:
    pkg:
      - "ldap-utils"
      - "slapd"
    state: present
  when: ansible_os_family == 'Debian'

- name: "DNF: Install dependencies"
  ansible.builtin.dnf:
    name:
      - "openldap"
      - "openldap-clients"
      - "openldap-servers"
    state: present
  when: ansible_os_family == 'RedHat'

- name: "Set proper permisions on directory"
  ansible.builtin.file:
    path: /etc/openldap
    owner: root
    mode: "755"
    state: directory

- name: "Set proper permisions certificates"
  ansible.builtin.file:
    path: "{{ item }}"
    owner: ldap
    mode: "600"
  with_items:
    - "{{ ldapproxy_tlscert }}"
    - "{{ ldapproxy_tlskey }}"

- name: "Install configuration"
  ansible.builtin.template:
    src: slapd.conf.j2
    dest: /etc/openldap/slapd.conf
    owner: ldap
    group: ldap
    mode: "644"
  notify: restart_ldap

- name: "Delete /etc/openldap/slapd.d directory as it prevents slapd.conf from being read"
  ansible.builtin.file:
    path: /etc/openldap/slapd.d
    state: absent

- name: "Install slapd rsyslog configuration"
  ansible.builtin.copy:
    content: "local4.* /var/log/slapd"
    dest: "/etc/rsyslog.d/slapd.conf"
    owner: root
    mode: "644"
  notify: "restart_rsyslog"

- name: "UFW: enable ldap"
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  with_items:
    - 389
    - 636
  when: ansible_os_family == 'Debian'

- name: "FirewallD: enable ldap"
  ansible.posix.firewalld:
    immediate: true
    permanent: true
    port: "{{ item }}/tcp"
    state: enabled
  with_items:
    - 389
    - 636
  when: ansible_os_family == 'RedHat'

- name: "Set service name"
  ansible.builtin.set_fact:
    ldap_service_name: "slapd"

- name: "Enable ldap server"
  ansible.builtin.service:
    name: "{{ ldap_service_name }}"
    state: started
    enabled: true
